.project_card {
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(65, 91, 245, 0.06);
    margin: 0 0 30px 0;
}


.project_card .project_img {
    width: 486px;
    height: 150px;
    margin: 51px 62px 26 62px;
}

.project_card .project_body .project_category {
    color: #545454;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 27px;
}

.project_card .project_body .project_title {
    color: #B9A346;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    height: 60px;
}

.project_card .project_body .project_description {
    text-align: left;
    color: #545454;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.project_card .project_body .project_price {
    background-color: #B9A346;
    color:white;
    border:none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.project_card .project_body .project_provider {
    color: #004080;
    /* Lato */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10px; /* 162.5% */
}